//FOOTER====

@import "__variables";

footer.nd-site-footer {
	clear: both;
	text-align: center;
	background: $dark-grey;
	bottom: 0;
	width: 100%;
	padding: 4px 10px;
	border-top: 5px solid $light-blue;
	position: fixed;
	z-index: 4;
	max-height: 45px;
}

.nd-site-footer__social, .nd-site-footer__contact {
	display: inline-block;
}

.nd-site-footer__contact {
	text-align: left;
	float: left;
	display: inline-block;

	@media (max-width: map-get($breakpoints, large)) {
		text-align: center;
	}
}

.nd-site-footer__social {
	text-align: right;
	float: right;

	@media (max-width: map-get($breakpoints, large)) {
		text-align: center;
	}
}

.nd-site-footer__link {
	&:hover i.fa-circle {
		color: $grey;
	}
}

.nd-site-footer__copyright {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
} 

.nd-site-footer__detail, .nd-site-footer__copyright   {
	font-size: 0.75em;
	padding: 5px;
	margin: 0 auto;
	color: white;
	display: inline-block;
	text-transform: uppercase;

	@media (max-width: map-get($breakpoints, large)) {
		display: none;
	}
}
