// HEADER===
@import "__variables";

.nd-site-header {
	position: fixed;
	width: 100%;
	background: $dark-grey;
	border-bottom: 5px solid $light-blue;
	z-index: 20;
	height: $header-height;
}

h1.nd-site-header__title {
	float: left;
	color: white;
	margin: 0;
	font-size: 1.75em;
	line-height: $header-height;
}

.nd-site-header__title-tag {

	@media (max-width: map-get($breakpoints, large)) {
		// hide from mobile/tablet
		display: none;
	}
}


.nd-site-header__nav-trigger {
	// hide from desktop view
	display: none;
	cursor: pointer;
	position: absolute;
	border: none;
	top: 5px;
	right: 0;
	height:40px;
	width: 0;
	align-items: center;
	justify-content: center;
	background-color: $dark-grey;

	@media (max-width: map-get($breakpoints, tablet-large)) {
		height: 1.3em;
		margin: 5px 0;
		width: 40px;
	}

	&:hover {
		background-color: $dark-grey;
	}

	@media (max-width: map-get($breakpoints, tablet-large)) {
		// show to mobile/tablet
		display: flex;
	}
}

.nd-site-header__nav-icon {
	flex: 0 0 auto;
	position: relative;
	vertical-align: middle;
	display: inline-block;
	height: 2px;
	width: 2em;
	background-color: white;
	transition: height 0.5s linear;
	transition: transform 0.5s linear;
	transform-origin: center center;

	&:hover {
		background-color: $light-blue;
	}

	&:before, &:after {
		content: '';
		display: block;
		width: 2em;
		height: 2px;
		left: 0;
		position: absolute;
		background-color: #fff;
		transition: transform 0.5s linear;
	}

	&:before {
		top: -8px;
	}

	&:after {
		bottom: -8px;
	}

	&:hover:before, &:hover:after {
		background-color: $light-blue;
	}

	.close > & {
		transform: rotateZ(90deg);
		height: 0;
	} 

	.close > &:before {
		transform: rotateZ(45deg);
		top: -1px;
	}

	.close > &:after {
		transform: rotateZ(-45deg);
		bottom: -1px;
	}
}


.nd-site-header__nav {
	div.menu {
		margin: 2px 0;
		float: right;
		
		ul {
			list-style: none;
		}

		@media (max-width: map-get($breakpoints, tablet-large)) {
			// hide from tablet/mobile view
			visibility: hidden;
			width: 0;
			position: fixed;
			margin: 0;
			top: $header-height;
			right: 0;
			bottom: 43px;
			background-color: $dark-grey;
			transition: all 0.5s ease;

			&.nav--mobile {
				width: 300px;
				visibility: visible;
			}
		}
	}

	li {
		display: inline-block;
		margin-bottom: 0;

		a {
			text-decoration: none;
			font-family: 'League Gothic', sans-serif;
			font-size: 1.75em;
			line-height: 4.5rem;
			text-transform: uppercase;
			padding: 0 0 0 1em;
			color: white;
		}

		a:hover {
			color: $light-blue;
		}

		a:active {
			color: white;
		}
	}

	div.menu.nav--mobile li {
		display: block;
		padding: 5px 0;

		a {
			margin: 0;
			padding: 15px 40px;
		}
	}
}

