/**
 * CONTENTS
 *
 * SETTINGS
 * Imports.............. Normalize, Skeleton, partials and fonts
 * Global...............Global styles to elements.
 *
 * TYPOGRAPHY
 *
 * SECTIONS
 * Intro................The home-page intro
 * Recent Projects......The main page footer.
 * Skills...............Skills section
 * Blog.................Blog page styling
 * Contact..............Contact section styling
 *

 /*------------------------------------
* IMPORTS
*------------------------------------*/

@import "__wptheme";
@import "__normalize";
@import "__skeleton";
@import "__variables";
@import "__custom-fonts";


 /*------------------------------------
* GLOBALS
*------------------------------------*/

* {
	box-sizing: border-box;
}

hr {
	height: 3px;
	background: $grey;
	opacity: 0.5;
	width: 33%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;

}

a {
	text-decoration: none;
	color: #ffffff;
}

button {
	background: $grey;
	padding: 10px;
	width: 150px;
	margin: 0 1em;
	font-family: 'League Gothic', sans-serif;
	text-transform: uppercase;
}

button:hover {
	background: $light-blue;
}

 /*------------------------------------
* TYPOGRAPHY
*------------------------------------*/

h1, h2, h3, h4 {
	font-family: 'League Gothic', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	margin: 10px 0;
	color: $dark-grey;
	letter-spacing: 1px;
	line-height: 1.2;
}

h2 {
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.8em;
	color: $grey;
}	

p, li {
	font-size: 1.1em;
}

blockquote {
	color: $grey;
	font-style: italic;
	font-size: 14px;

	cite {
		display: block;
		color: #000;
		font-style: normal;
		a {
			color: $light-blue;
		}
	}
}

small {
	font-size: 90%;
	color: $grey;
	margin-bottom: 15px;
}

 /*------------------------------------
* SECTION-INTRO
*------------------------------------*/

.summary {	
	max-width: 100%;
	position: relative;
	text-align: center;
	margin-top: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;

	@media (max-width: map-get($breakpoints, phone)) {
		margin-top: 25%;
	}

	@media (max-width: map-get($breakpoints, tablet-large)) {
		flex-direction: column;
		padding-bottom: 10px;
	}


	h1 {

		margin-top: 0px;
		margin-bottom: 0p;

		@media (max-width: 360px) {
			font-size: 2em;
		}
		@media (min-width: 360px) {
			font-size: 2.5em;
		}
	}

	h2 {
		margin-bottom: 0px;
		color: $light-blue;
		font-size: 2em;
	}
}

.homepage {
	border-radius: 50%;
	margin-right: 40px;
	border: 5px solid $light-blue;
	max-width: 200px;

	@media (max-width: map-get($breakpoints, large)) {
		margin-right: 20px;
		width: 180px;
	}

	@media (max-width: map-get($breakpoints, tablet-large)) {
		margin: 0 0 10px;
		width: 180px;
	}
}

.headline {
	@media (min-width: map-get($breakpoints, tablet-large)) {
		float: right;
	}
}

.hire-me {
	background: $light-blue;
	padding: 10px;
	width: 150px;
	margin: 0 1em;
	color: #000;
}

.hire-me:hover {
	background: #000;
}


.portfolio {
	padding: 0 10%;
	position: relative;
}

.intro {
	text-align: center;

	ul {	
		list-style: none;

		li {

			margin: 1em;

			@media (max-width: 600px) {
				display: block;
			}

			@media (min-width: 800px) {
				display: inline-block;
			}
		}

		.fa-stack {
			vertical-align: middle;
		}

		h3 {
			display: inline-block;
			margin-left: 10px;
			line-height: 0;
			vertical-align: middle;
		}
	}	
}


.calltoaction {
	color: $dark-grey;
	font-family: 'League Gothic', sans-serif;
	letter-spacing: 1px;
	font-size: 1.75em;
	text-transform: uppercase;
	line-height: 1.3em;
	margin-bottom: 1.5rem;
	text-align: center;

	a {
		color: $light-blue;
		font-family: 'Yellowtail', sans-serif;
		font-size: 1.2em;
		text-transform: none;
	}

	a:hover {
		color: $grey;
	}
}

.download {
	color: $grey;
	font-family: 'League Gothic', sans-serif;
	font-size: 1.4em;
	text-align: center;
	line-height: 1.6em;
	text-transform: uppercase;

	a {
		font-size: 1em;
		font-family: 'Yellowtail', cursive;
		display: block;
		text-transform: none;
		color: $light-blue;

		&:hover {
			color: $dark-blue;
		}
	}
}

.designer {
	font-family: 'Yellowtail', sans-serif;
	font-size: 1.3em;
	text-transform: none;
	-ms-transform: rotate(-3deg); /* IE 9 */
	-webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
	transform: rotate(-3deg);
	display: inline-block;
}



 /*------------------------------------
* SECTION - SKILLS
*------------------------------------*/

section.skills {
	margin-bottom: 2%;
}

.skills, .contact-details {
	text-align: center;
	position: relative;

	.skill-detail ul {
		clear: both;
		list-style: none;
	}
}

.fa {
	color: white;
}

.fa-circle {
	color: $light-blue;
}

a:hover i.fa-circle {
	color: $grey;
}

.skill {
	border-radius: 60px;
	background: $dark-grey;
	width: 70px;
	height: 70px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75em;
	text-align: center;
	display: inline-block;
	margin: 0 5px;
	line-height: 70px;
	position: relative;

	@media (max-width: map-get($breakpoints, tablet-large)) {
		display: none;
	}

}

 /*------------------------------------
* SECTION - RECENT PROJECTS
*------------------------------------*/


.skill-tag {
	display: inline;
	background: $dark-grey;
	padding: 0.75em;
	color: #fff;
	font-size: 0.8em;
	margin: 0.1em;

}

#recent-projects figure {
	position: relative;
	overflow: hidden;
	margin: 1em 0px;

	img {
		width: 100%;
		height: auto;
		margin: 0;
		display: block;

	}
}


.mouse-tap-overlay {
	background: $light-blue;
	text-align: center;
	color: $dark-grey;
	display: block;
	position: absolute;
	transition: all 0.5s;
	z-index: 3;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 0;

	.project-info {
		padding: 1rem 0px;
		height: 100%;

		h3 {
			font-size: 1.5em;
		}
	}

	.link-desc {
		background: #fff;
		padding: 0px;
		margin: 0.5rem auto;
		color: #272123;
		border: none;
		border-radius: 0px;
		display: block;
		font-size: 1.3em;
		transition: all 0.5s;
		text-transform: uppercase;
		margin-bottom: 1em;
		font-family: 'League Gothic', sans-serif;
		width: 150px;
		font-weight: 600;
		line-height: 38px;
		height: 38px;
		white-space: nowrap;
		display: inline-block;
	}

	.link-desc:hover {
		background: $dark-grey;
		color: #fff;
	}

	h3, p, a {
		color: inherit;
	}

}

.nd-site-project__skill-list {
	margin: 2em auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	@media (max-width: map-get($breakpoints, tablet-large)) {
		display: none;
	}
}

#recent-projects figure:hover .mouse-tap-overlay {
	height: 100%;
}


 /*------------------------------------
* BLOG
*------------------------------------*/

.blog {
	position: relative;
	text-align: center;
	@media (max-width: 360px) {
		padding-top: 25%;
	}
	@media (min-width: 360px) {
		padding-top: 8%;
	}
}

.moretag {
	color: white;
	background: $dark-grey;
	padding: 5px 10px;
	border-radius: 20px;
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: all 0.2s ease-in;
}

.moretag:hover {
	background: $dark-blue;
	color: white;
}

.blog-content p:after {
	display: inline;
	margin: 0;
	content: '...';
	font-size: inherit;
	font-family: inherit;
}

.blog > .row:last-child {
	margin-bottom: 5%;
}

.post-thumb {
	width: 100%;
	max-width: 200px;
	max-height: 200px;
	position: relative;
	text-align: center;
	border-radius: 50%;
	border: 5px solid $light-blue;
}

.post-title {
	border-bottom: solid 2px $grey;
	margin-top: 0;
	padding-bottom: 5px;
	color: $grey;
}

.blog-content {
	height: 200px;
	position: relative;

	@media (max-width: 360px) {
		text-align: center;
	}
	@media (min-width: 360px) {
		text-align: left;
	}
}

.blog-content-full {
	a {
		color: $light-blue;
		text-decoration: none;
	}

	a:hover {
		color: $grey;
	}
}

.blog div.row {
	margin-bottom: 2%;
}

.blog-content-full {
	position: relative;

	@media (max-width: 360px) {
		text-align: center;
	}
	@media (min-width: 360px) {
		text-align: left;
	}
}

 /*------------------------------------
* CONTACT
*------------------------------------*/

.contact-details a p {
	color: $dark-grey;
	text-transform: uppercase;
	font-size: 1em;
	display: inline-block;
	text-align: left;
}

.contact-details {
	@media (min-width: 360px) {
		margin-bottom: 5%;
	}
	@media (max-width: 360px) {
		margin-bottom: 10%;
	}
}

@import "__header";
@import "__footer";